jax[cuda12]==0.5.3
distrax==0.1.5
optax==0.2.8
flax==0.10.6
numpy==2.4.6
black
pre-commit
argparse
wandb==0.28.0
orbax-checkpoint==0.11.5
pygame==2.6.1
gymnax==0.0.9
chex==0.1.90
matplotlib==3.11.0
imageio[ffmpeg]==2.37.3
jaxmarl==0.0.2
jaxpruner @ git+https://github.com/google-research/jaxpruner.git@e7af4e4e4748782d6bc433249e359f74ffb845ba
seaborn==0.13.2
